//vars
@cellSize: 40px;
@spaceBetween: 5px;
@text-stroke-size: 2px;
@glow-box-shadow: 0px 0px 51px 4px rgba(250, 255, 219, 0.65);

@white: #F5F9FB;
@light-grey: #B3BDAA;
@red: #B43A39;
@orange: #D98235;
@yellow: #FFE641;
@mint: #00E6A6;
@lime: #67AA0D;
@green: #395210;
@cyan: #55A3E5;
@blue: #0025CB;
@purple: #682F8E;
@magenta: #B159BE;
@pink: #DC687D;
@grey: #707070;
@dark-grey: #2C333D;
@black: #1D1D1F;
// end vars

//.row and .flask are here only to get rid of white color on drag ghost image (transparent goes #fff)
body, #field .row, .flask {
  background: @black;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border: none;
  border-left: 1px solid @light-grey;
  border-radius: 0 12px 12px 0;
  background: white;
  font-weight: bold;

  &:hover {
    background: @light-grey;
  }
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 40px
}

[class^='cell-'] {
  width: @cellSize;
  height: @cellSize;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &.inactive {
    opacity: 0;
    cursor: not-allowed;
  }
}

.cell-red { background: @red; }
.cell-orange { background: @orange; }
.cell-yellow { background: @yellow; }
.cell-mint { background: @mint; }
.cell-lime { background: @lime; }
.cell-green { background: @green; }
.cell-cyan { background: @cyan; }
.cell-blue { background: @blue; }
.cell-purple { background: @purple; }
.cell-magenta { background: @magenta; }
.cell-pink { background: @pink; }
.cell-grey { background: @grey; }
.cell-black {
  background: @dark-grey;

  &:after {
    color: @white;
    font-weight: bold;
    content: "?";
  }
}

#field {
  height: 428px;

  &.drag .flask:hover {
    -webkit-box-shadow: @glow-box-shadow;
    -moz-box-shadow: @glow-box-shadow;
    box-shadow: @glow-box-shadow;
  }
}

.flask{
  border: 2px solid @light-grey;
  border-radius: 0 0 calc(@cellSize / 2) calc(@cellSize / 2);
  width: @cellSize;
  height: calc(@cellSize * 4 + @cellSize / 2);
  margin: @spaceBetween;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;

  [class^='cell-']:hover {
    opacity: .6;
  }

  &.dragover {
    -webkit-box-shadow: @glow-box-shadow;
    -moz-box-shadow: @glow-box-shadow;
    box-shadow: @glow-box-shadow;
  }
}

#popup-palette {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(@cellSize * 4 + @spaceBetween * 5);
  height: $width;
  background: @white;
  position: absolute;
  z-index: 2;

  .row {
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0;

    [class^='cell-']:not(.inactive):hover {
      border: 2px dashed @white;
    }

    [class^='cell-'].inactive {
      cursor: default;
    }
  }
}

#palette-counter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(@cellSize * 6 + @spaceBetween * 7);
  height: calc(@cellSize * 2 + @spaceBetween * 3);

  .row {
    margin-bottom: 0;
    justify-content: space-evenly;

    [class^='cell-'] {
      cursor: default;

      div {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        width: calc(@cellSize / 2);
        height: $width;
        background: @white;
        color: @dark-grey;
        user-select: none;
      }
    }
  }
}

[type="number"] {
  border-radius: 12px 0 0 12px;
  height: 24px;
  padding-left: 12px;
  font-size: 20px;
  outline: none;
  border: none;
  width: 3em;
}

[type="radio"] {
  display: none;
}